// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: #0000ff;
}

.form-error {
  color: #ff0000;
} 

.draft{
  color: #ff0000;
}

.published{
  color: #00ffff;
}

.archieved{
  color: #008000;
}